# =========================
# APP
# =========================
APP_PORT=8080
APP_ENV=development
APP_NAME=order-service
WEB_PREFORK=false
LOG_LEVEL=debug

JWT_SECRET_KEY=your_jwt_secret_key

GATEWAY_SECRET_KEY=your_gateway_secret_key
REQUEST_API_GATEWAY=true

SERVER_TIMEOUT=30

PRODUCT_SERVICE_URL=http://localhost:8001
USER_SERVICE_URL=http://localhost:8002
ORDER_SERVICE_URL=http://localhost:8003

# =========================
# DATABASE
# =========================
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=order_service

DATABASE_MAX_OPEN_CONNECTION=25
DATABASE_MAX_IDLE_CONNECTION=10

# =========================
# KAFKA
# =========================
KAFKA_AUTO_OFFSET_RESET=earliest
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_GROUP_ID=order-service-group
KAFKA_PRODUCER_ENABLED=true

# =========================
# TOPIC
# =========================
TOPIC_PAYMENT_SUCCESS=payment-success

# =========================
# REDIS
# =========================
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
